//====================================================================================================
.main {
	&._active {
		.main__button_play {
			animation: show_item_x 0.5s $timingFunction_2 forwards 0.6s;
		}
		.main__button_shop {
			animation: show_item_x 0.5s $timingFunction_2 forwards 0.6s;
		}
		.main__button_privacy {
			animation: show_item_x 0.5s $timingFunction_2 forwards 0.6s;
		}
		.main__airplane-box {
			animation: show_airplane 1s ease forwards 1.5s;
		}
	}
	// .main__body

	&__body {
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;

		min-height: 100vh;

		&._shop {
			.main__buttons-box {
				top: -100%;
				z-index: -1;
			}
			.shop {
				opacity: 1;
				z-index: 10;
				top: 50%;
			}
			.main__button-back {
				opacity: 1;
				@include adaptiveValue("left", 30, 15, 1200, 550, 1);
				z-index: 11;
			}
			.main__money {
				opacity: 1;
				@include adaptiveValue("right", 30, 15, 1200, 550, 1);
				z-index: 11;
			}
			.circles svg circle {
				stroke: rgba(234, 102, 255, 0.21);
			}
		}
	}

	&__button-back {
		position: absolute;
		top: 20px;
		left: 20px;
		opacity: 0;
		left: -20px;
	}

	// .main__content

	&__content {
		position: relative;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 100%;
		min-height: 100vh;
	}

	// .main__buttons-box

	&__buttons-box {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);

		display: grid;
		grid-template-rows: 1fr 3fr;
		align-items: center;
		justify-items: center;

		width: 100%;
		height: 100%;

		transition: all 0.7s $timingFunction 0s;
		@media (min-height: em(600)) {
			top: 10%;
		}
	}

	// .main__airplane-box

	&__airplane-box {
		transform: translate(-150%, -150%);
	}

	// .main__airplane

	&__airplane {
		display: flex;
		justify-content: center;
		animation: fly-main 20s ease infinite;
		@include adaptiveValue("width", 250, 180, 800, 550, 1);
		img {
			width: 100%;
		}
		@media (min-height: em(600)) {
			width: rem(500);
		}
	}

	// .main__buttons

	&__buttons {
	}

	// .main__buttons-inner

	&__buttons-inner {
		display: flex;
		flex-direction: column;
		row-gap: rem(15);
	}

	// .main__button

	&__button {
		&_play {
			opacity: 0;
			transform: translateX(-1000px);
		}
		// .main__button_shop

		&_shop {
			opacity: 0;
			transform: translateX(1000px);
		}

		&_privacy {
			opacity: 0;
			transform: translateX(-1000px);
		}
	}

	// .main__button-back

	&__button-back {
		position: absolute;
		left: rem(-215);
		@include adaptiveValue("top", 30, 15, 1200, 550, 1);

		opacity: 0;
		z-index: -1;
		transition: all 0.7s $timingFunction 0s;
	}

	// .main__money

	&__money {
		position: absolute;
		@include adaptiveValue("top", 30, 15, 1200, 550, 1);
		right: rem(-215);
		width: auto;

		opacity: 0;
		z-index: -1;
		transition: all 0.7s $timingFunction 0s;
	}
}
.shop {
	position: absolute;
	top: rem(500);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;

	opacity: 0;
	z-index: -1;

	transition: all 0.7s $timingFunction 0s;
	// .shop__body

	&__body {
		display: grid;
		justify-items: center;
		align-items: center;

		max-width: 70%;
		min-height: 100%;
		margin: 0 auto;
	}

	&__items {
		display: flex;
		justify-content: space-around;
		align-items: center;
		@include adaptiveValue("column-gap", 75, 20, 800, 550, 1);
	}

	// .shop__item

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;

		width: 18vw;
		height: 55vh;
		min-height: rem(210);
		min-width: rem(115);

		background-color: #520c6b;
		border: 1px solid #ffffff;

		border-radius: rem(10);

		transition: all 0.7s ease 0s;

		&._bought {
			.shop__price {
				display: none;
			}
		}
	}

	// .shop__image

	&__image {
		position: relative;
		flex: 1 1 auto;
		padding-top: rem(20);
		margin-bottom: rem(10);
	}

	&__image-inner {
		position: absolute;
		top: -20px;
		left: 50%;
		transform: translateX(-50%);
		@include adaptiveValue("width", 150, 120, 800, 550, 1);
		@media (min-height: em(600)) {
			padding-top: rem(60);
		}
		img {
			width: 100%;
		}
	}

	&__coeff {
		position: relative;
		top: -10px;
	}

	// .shop__price

	&__price {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 10px;

		margin-bottom: rem(10);
		@media (min-height: em(600)) {
			margin-bottom: rem(30);
		}
		img {
			max-width: 30px;
		}
	}

	// .shop__icon

	&__icon {
		position: relative;
		top: rem(-5);
	}

	// .shop__count

	&__count {
	}

	// .shop__button

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;

		@include adaptiveValue("width", 120, 90, 1200, 550, 1);
		@include adaptiveValue("min-height", 45, 30, 1200, 550, 1);

		margin-bottom: rem(10);

		background-color: #09a949;
		box-shadow: 0px 3px 0px rgba(0, 202, 44, 0.6);
		border-radius: 50px;

		transition: all 0.3s ease 0s;

		&:active {
			transform: translateY(2px);
			box-shadow: 0px 1px 0px rgba(0, 202, 44, 0.6);
		}
		p {
			font-weight: 500;
			@include adaptiveValue("font-size", 18, 12, 1200, 550, 1);
			line-height: math.div(16, 14);
			color: #ffffff;
			text-transform: uppercase;
			&::after {
				content: "ED";
				display: none;
			}
		}
		&._bought {
			background-color: #ff930e;
			box-shadow: 0px 3px 0px rgba(255, 147, 14, 0.6);
			&:active {
				transform: translateY(2px);
				box-shadow: 0px 1px 0px rgba(255, 147, 14, 0.6);
			}
		}
		._selected & {
			background-color: transparent;
			pointer-events: none;
			box-shadow: none;
			p {
				&::after {
					display: inline-block;
				}
			}
		}

		@media (min-height: em(600)) {
			margin-bottom: rem(30);
		}
	}

	&__footer {
		max-height: rem(76);
	}
}

//========================================================================================================================================================
.game {
	// .game__body

	&__body {
		position: relative;
		min-height: 100vh;

		@include adaptiveValue("padding-inline", 70, 30, 800, 550, 1);
		padding-top: rem(20);
	}

	// .game__button-back

	&__button-back {
		position: absolute;
		@include adaptiveValue("top", 30, 15, 1200, 550, 1);
		@include adaptiveValue("left", 30, 15, 1200, 550, 1);
	}

	// .game__content

	&__content {
		display: grid;
		grid-template: 3fr 1fr / 1fr;
		height: calc(100vh - 20px);
		row-gap: rem(15);
		@media (min-height: em(600)) {
			grid-template: 4fr 1fr / 1fr;
		}
	}

	// .game__field

	&__field {
	}

	// .game__footer

	&__footer {
	}
}

.field {
	// .field__body

	&__body {
		position: relative;
		min-height: 100%;

		background: #050505;
		border: 1px solid rgba(243, 243, 243, 0.18);

		border-radius: rem(10);
		overflow: hidden;
		&._bg-1 {
			background-color: #362e18;
			border: 1px solid rgba(255, 138, 0, 0.18);
		}
		&._bg-2 {
			background-color: #36123c;
			border: 1px solid rgba(243, 243, 243, 0.18);
		}
		&._bg-3 {
			background-color: rgba(31, 30, 69, 0.8);
			border: 1px solid rgba(243, 243, 243, 0.18);
		}

		&._fly {
			.field__vertical-dots {
				animation: moove_vert_dots 15s linear;
			}
			.field__horizontal-dots {
				animation: moove_horz_dots 15s linear;
			}
			.field__airplane {
				animation: fly_air 1s ease infinite 0.5s;
			}
		}

		&._loader {
			.field__airplane {
				animation: start_air 5s ease;
			}
			.field__coeff,
			.field__vertical-dots,
			.field__horizontal-dots {
				opacity: 0;
			}
			.field__loader {
				opacity: 1;
				visibility: visible;
				transition: all 0.7s ease 0s;
				img {
					animation: rotate_helix 1s linear infinite 0.5s;
				}
			}
		}
	}

	&__circle {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;

		svg {
			&._rotate {
				transform-origin: center;
				animation: rotate_circle 20s linear infinite;
			}
		}
	}

	// .field__coeff

	&__coeff {
		position: absolute;
		top: rem(10);
		left: rem(40);
		font-weight: 600;
		@include adaptiveValue("font-size", 54, 36, 1200, 550, 1);
		line-height: math.div(56, 48);
		color: #ffffff;
	}

	// .field__vertical-dots

	&__vertical-dots {
		position: absolute;
		bottom: rem(10);
		left: rem(10);
		display: flex;
		flex-direction: column;
		overflow: hidden;
		transition: all 0.3s ease 0s;
		span {
			@include adaptiveValue("width", 10, 5, 1200, 550, 1);
			@include adaptiveValue("height", 10, 5, 1200, 550, 1);

			margin-top: rem(20);
			border-radius: 50%;
			background-color: #21a2ff;
			@media (min-height: em(600)) {
				margin-top: rem(50);
			}
		}
	}

	// .field__horizontal-dots

	&__horizontal-dots {
		position: absolute;
		bottom: 0;
		left: 0;

		display: flex;
		align-items: center;

		height: rem(30);
		padding-left: rem(10);

		background: #050505;

		border-top-color: #363636;
		border-top-style: solid;
		border-top-width: 1px;
		transition: all 0.3s ease 0s;
		._bg-1 & {
			background-color: #362e18;
		}

		._bg-2 & {
			background-color: #36123c;
		}

		._bg-3 & {
			background-color: rgba(31, 30, 69, 0.8);
		}
		span {
			@include adaptiveValue("width", 10, 5, 1200, 550, 1);
			@include adaptiveValue("height", 10, 5, 1200, 550, 1);

			margin-right: rem(70);
			border-radius: 50%;
			background-color: #fff;
			@media (min-height: em(600)) {
				margin-right: rem(100);
			}
		}
	}

	// .field__airplane

	&__airplane {
		position: absolute;
		bottom: 7%;
		left: 2%;
		transform: rotate(-35deg);
		z-index: 2;
		img {
			width: rem(121);
		}
		@media (min-height: em(600)) {
			img {
				width: rem(220);
			}
		}
	}

	&__pin {
		position: absolute;
		bottom: 5px;
		left: 10px;
		width: rem(1);
		height: rem(1);
	}

	// .field__loader

	&__loader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: rem(40);

		visibility: hidden;
		opacity: 0;
		img {
			transform-origin: 42% center;
		}
		@media (min-height: em(600)) {
			img {
				width: rem(200);
			}
		}
		p {
			font-weight: 500;
			@include adaptiveValue("font-size", 30, 16, 1200, 550, 1);
			line-height: math.div(23, 20);
			color: #ffffff;
		}
	}
}
.ctx {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.footer {
	// .footer__body

	&__body {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		min-height: 100%;
		column-gap: rem(15);
	}

	// .footer__bet-box

	&__bet-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		row-gap: rem(7);

		padding: rem(8) 0;

		background: #191a18;
		border: 1px solid #96ffb3;
		border-bottom-width: 0px;
		border-radius: 15px 15px 0px 0px;

		transition: all 0.3s ease 0s;
		@media (min-height: em(600)) {
			border: 2px solid #96ffb3;
			border-bottom-width: 0px;
		}
		&._hold {
			pointer-events: none;
			opacity: 0.5;
		}
		._loose & {
			border-color: rgba(169, 9, 9, 1);
		}
	}

	// .footer__buttons

	&__buttons {
		display: flex;
		justify-content: center;
		align-items: center;

		background: #1a1b1c;
		border: 0.3px solid #363738;
		border-radius: rem(6.5);
		@media (min-height: em(600)) {
			border: 1px solid #363738;
		}
	}

	// .footer__button

	&__button {
		border: 0.3px solid transparent;
		@media (min-height: em(600)) {
			border: 1px solid transparent;
		}
		&._active {
			background: #2c2d30;
			border: 0.3px solid #363738;
			border-radius: rem(6.5);
		}
		p {
			padding: rem(3) rem(15);
			font-weight: 400;
			@include adaptiveValue("font-size", 8, 6, 800, 550, 1);
			line-height: math.div(8, 7);
			color: #ffffff;
			text-transform: uppercase;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			@media (min-height: em(600)) {
				padding: rem(7) rem(25);
				@include adaptiveValue("font-size", 20, 16, 1200, 550, 1);
			}
		}
		// .footer__button_bet

		&_bet {
		}

		// .footer__button_auto

		&_auto {
		}
	}

	// .footer__bet

	&__bet {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		width: 100%;
	}

	// .footer__block-bet

	&__block-bet {
	}

	// .footer__button-bet

	&__button-bet {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		@include adaptiveValue("height", 38, 30, 800, 550, 1);
		background-image: linear-gradient(180deg, #3ea400 0%, #dbff00 100%);
		box-shadow: 0px 4px 11px rgba(116, 233, 0, 0.51), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
		border-radius: rem(8);
		transition: all 0.3s ease 0s;
		@media (min-height: em(600)) {
			@include adaptiveValue("height", 60, 35, 1200, 800, 1);
		}
		p {
			font-weight: 500;
			@include adaptiveValue("font-size", 10, 7, 800, 550, 1);
			line-height: math.div(11, 9);
			text-align: center;
			color: #ffffff;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			@media (min-height: em(600)) {
				@include adaptiveValue("font-size", 16, 12, 1200, 800, 1);
			}
			text-transform: uppercase;
		}
		&:active {
			transform: scale(0.9);
			box-shadow: 0px 2px 5px rgba(45, 233, 0, 0.51), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
		}
		._loose & {
			background-image: linear-gradient(180deg, #d30000 0%, #ea7e00 100%);
			box-shadow: 0px 4px 11px rgba(233, 0, 0, 0.51), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
		}
	}

	// .footer__balance-box

	&__balance-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 100%;
	}

	// .footer__balance-text

	&__balance-text {
		font-weight: 500;
		@include adaptiveValue("font-size", 30, 16, 1200, 550, 1);
		line-height: math.div(23, 20);
		color: #ffffff;
	}

	// .footer__money

	&__money {
	}

	// .footer__cash-out-box

	&__cash-out-box {
		display: flex;
		justify-content: center;
		align-items: center;

		background: #191a18;
		border: 1px solid rgba(209, 150, 255, 1);
		border-bottom-width: 0px;
		border-radius: 15px 15px 0px 0px;
		@media (min-height: em(600)) {
			border: 2px solid rgba(209, 150, 255, 1);
			border-bottom-width: 0px;
		}
		._loose & {
			border-color: rgba(169, 9, 9, 1);
		}
	}

	// .footer__button-cash

	&__button-cash {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: rem(5);
		width: 80%;
		height: 70%;
		background-image: linear-gradient(180deg, #7700d5 0%, #de00a0 100%);

		box-shadow: 0px 4px 11px rgba(233, 0, 209, 0.51), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
		border-radius: rem(8);
		transition: all 0.3s ease 0s;

		font-weight: 500;
		@include adaptiveValue("font-size", 10, 7, 800, 550, 1);
		line-height: math.div(11, 9);
		color: #ffffff;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		text-transform: uppercase;
		@media (min-height: em(600)) {
			height: 30%;
		}

		&:active {
			transform: scale(0.9);
			box-shadow: 0px 2px 5px rgba(45, 233, 0, 0.51), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
		}
		._loose & {
			background-image: linear-gradient(180deg, #d30000 0%, #ea7e00 100%);
			box-shadow: 0px 4px 11px rgba(233, 0, 0, 0.51), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
			.footer__current-count {
				display: none;
			}
		}
		&._hold {
			pointer-events: none;
			opacity: 0.5;
		}
	}
}

//====================================================================================================
@keyframes no-money {
	0% {
		color: #fff;
	}
	100% {
		color: rgb(255, 0, 0);
		transform: scale(1.1);
	}
}
@keyframes delete-money {
	0% {
		color: #fff;
	}
	100% {
		color: rgb(255, 155, 155);
		transform: translateY(3px);
	}
}
@keyframes add-money {
	100% {
		color: yellow;
		transform: translateY(-3px);
	}
}
@keyframes show_item_y {
	0% {
		opacity: 0;
	}
	100% {
		transform: translateY(0) rotate(0);
		opacity: 1;
	}
}
@keyframes show_item_x {
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes show_airplane {
	0% {
		transform: translate(-100%, -100%);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes fly {
	0%,
	60%,
	100% {
		transform: rotate(0) translateX(-50%);
	}
	70% {
		transform: rotate(-10deg) translateX(-50%);
	}
	90% {
		transform: rotate(30deg) translateX(-50%);
	}
}
@keyframes fly-main {
	0%,
	50%,
	100% {
		transform: rotate(0) translate(0, 0);
	}
	55% {
		transform: rotate(-10deg) translate(0, 0);
	}
	70% {
		transform: rotate(-10deg) translate(-60px, 10px);
	}
	80% {
		transform: rotate(30deg) translate(-60px, 10px);
	}
	90% {
		transform: rotate(30deg) translate(60px, -10px);
	}
}
@keyframes rotate_circle {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes start_air {
	0%,
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes rotate_helix {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes fly_air {
	0%,
	100% {
		transform: translate(0, 0) rotate(-40deg);
	}
	50% {
		transform: translate(0, 20px) rotate(-40deg);
	}
}
@keyframes moove_horz_dots {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-30%);
	}
}
@keyframes moove_vert_dots {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(50%);
	}
}
@keyframes rotate-circle-left {
	0%,
	100% {
		transform: rotate(0);
	}
	70% {
		transform: rotate(360deg);
	}
}
@keyframes rotate-circle-right {
	0%,
	100% {
		transform: rotate(0);
	}
	70% {
		transform: rotate(-360deg);
	}
}
@keyframes rotate_circle {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
